<% if !flash[:success_message].nil? || !flash[:activation_message].nil? %>
  <div class="message">
    <%= flash[:success_message] %>
  </div>
<% end %>
<div class="user_login_form">
  <h2 class='form_title'>Login to our site</h2>
  <%= form_for(:session, url: login_path, html: {:class => 'login_form'}) do |f| %>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, :class => 'user_details' %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, :class => 'user_details' %>
      </div>
      <div class="field">
        <%= f.check_box :remember_me  %>
        <%= f.label 'Remember me on this computer' %><br>
      </div>
      <div class="field">
        <button class="form_button" type="submit" value="Login">Login</button>
        <%= link_to 'Forgot password', new_reset_passwords_path%>
      </div>
      <%= flash[:danger] %>
  <% end %>
</div>
