<h1>Listing blogs</h1>
<% if @blog.size >0 %>
 <div class="create_blog">
  <%= link_to 'Create Blog', new_blog_path %>
  </div>
  <div class="blogs">

    <% @blog.each do |blog| %>
      <div class="blog">
        <div class="title"><strong style="color:lightgray">Title: </strong><%= blog.title %> <strong style="color:lightgray"> <%= blog.created_at.localtime.to_s.slice(0,19) %> </strong></div>
        <div class="blog_text"><strong style="color:lightgray">Content:</strong></br><%= blog.text %></div>
        <div class="blog_action">
          <div class="a_action"><%= link_to 'more', blog_path(blog) %></div>
          <div class="a_action"><%= link_to 'Edit', edit_blog_path(blog) %></div>
          <div class="a_action"><%= link_to 'Remove', blog_path(blog),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></div>
        </div>
         </div>
    <% end %>
  </div>
<% else %>
<h4> It seems that you haven't written any blog yet</br>
Click <%= link_to 'HERE', new_blog_path %> to create your first blog</h4>
<% end %>