<div class="show_blog">
  <div class="title"><strong style="color:lightgray">Title: </strong><%= @blog.title %>
    <strong style="color:lightgray"> <%= @blog.created_at.localtime.to_s.slice(0, 19) %> </strong></div>
  <div class="show_blog_text"><strong style="color:lightgray">Content:</strong></br><%= @blog.text %></div>

  <div class="blog_action">
    <div class="a_action"><%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %></div>

  </div>
</div>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <p>
      <%= link_to 'Delete', [comment.blog, comment],
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
