<h1>Listing articles</h1>
<% if @articles.size >0 %>
 <%= link_to 'New article', new_article_path %>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
    
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %> </td>
        <td><%= link_to 'Edit', edit_article_path(article) %> </td>
        <td><%= link_to 'Remove', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
<h4> It seems that you haven't written any article yet</br>
Click <%= link_to 'HERE', new_article_path %> to create your first article</h4>
<% end %>