<%= form_for(@user, html: {:class => 'login_form'}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'user_details', :required => true%>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class => 'user_details',:required => true %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, :class => 'user_details',:required => true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, :class => 'user_details',:required => true %>
    </div>
    <div class="field">
      <button class='form_button'> Sign Up</button>
    </div>
<% end %>

