<p id="notice"><%= notice %></p>


<section class="left">
  <img src="/assets/login_page_image.jpg" alt="">
</section>
<section class="right">
  <div>
    <%= flash[:danger] %>
  </div>
  <div>

    <%= form_for(:users,url: users_index_path ,html:{:class => 'login_form'}) do |f| %>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email , :class => 'user_details' %>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.text_field :password , :class => 'user_details' %>
        </div>
        <div class="login_actions">
          <button id="submit_btn" type="submit" value="Login">Login</button>
          <button id="cancel_btn" type="button" value="Cancel">Cancel</button>
        </div>

  <% end %>

    <div class="register">
      <%= link_to 'Register Here', new_user_path %>
    </div>


  </div>
</section>
