<%= provide(title: @current_user.name) %>
<p id="notice"><%= notice %></p>
<%= flash[:success_message] %>
<section class="side_bar">
  <div class="create_new_blog">
    <%= link_to 'Create blog', new_user_blog_path(@user) %>
  </div>

</section>
<section class='blogs_section'>
  <div class="user_blog">
    <% @user.blogs.each do |blog| %>
        <div class="blog">
          <div class="title"><strong style="color:#663F3F;">Title: </strong><%= blog.title.to_s.capitalize %>
            <strong style="color:#663F3F;"> Created at: <%= blog.created_at.localtime.to_s.slice(0, 19) %> </strong>
          </div>
          <div class="blog_content"><strong style="color:#663F3F;">Content:</strong><%= blog.content %></div>
          <div class="blog_action">
            <div class="a_action"><%= link_to 'more', user_blog_path(@user, blog), method: :get %></div>
            <div class="a_action"><%= link_to 'edit', edit_user_blog_path(@user, blog) %></div>
            <div class="a_action"><%= link_to 'history', user_blog_versions_path(@user, blog)%></div>
            <div class="a_action"><%= link_to 'remove', user_blog_path(@user, blog),
                                              method: :delete,
                                              data: {confirm: 'Are you sure?'} %></div>
            <% if (blog.updated_at.to_i > blog.created_at.to_i) %>
                <strong style="color:#663F3F;"> Updated at: <%= blog.created_at.localtime.to_s.slice(0, 19) %> </strong>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</section>





