<%= provide(title: @current_user.name) %>
<% if (!flash[:success_message].nil? || !flash[:notice].nil?) %>
  <div class="message">
    <%= notice %>
    <%= flash[:success_message] %>
  </div>
<% end %>
<% if !flash[:danger].nil? %>
  <div class="warning">
    <%= flash[:danger] %>
  </div>
<% end %>
<section class="side_bar">
  <div class="create_new_blog">
    <%= link_to 'Create blog', new_user_blog_path(@user) %>
  </div>

</section>
<section class='blogs_section'>
  <div class="user_blog">
    <% @user.blogs.each do |blog| %>
        <div class="blog">
          <div class="title"><strong style="color:#663F3F;">Title: </strong><%= blog.title.to_s.capitalize %>
            <strong style="color:#663F3F;"> Created at: <%= blog.created_at.localtime.to_s.slice(0, 19) %> </strong>
          </div>
          <div class="blog_content"><strong style="color:#663F3F;">Content:</strong><%= blog.content %></div>
          <div class="blog_action">
            <div class="a_action"><strong style="font-size:25px"><%= link_to '...', user_blog_path(@user, blog), method: :get %></strong></div>
            <div class="a_action"><strong style="font-size:25px"><%= link_to 'âœ', edit_user_blog_path(@user, blog) %></strong></div>
            <div class="a_action"><%= link_to 'history', user_blog_versions_path(@user, blog)%></div>
            <div class="a_action"><%= link_to 'Remove', user_blog_path(@user, blog),
                                              method: :delete,
                                              data: {confirm: 'Are you sure?'} %></div>
            <% if (blog.updated_at.to_i > blog.created_at.to_i) %>
                <strong style="color:#663F3F;"> Updated at: <%= blog.created_at.localtime.to_s.slice(0, 19) %> </strong>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</section>





